*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
}
.col-md-2{
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-10{
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-12,
.col-md-3,
.col-md-4 {
    margin-bottom: 30px;
}
header{
    position: relative;
}
.primary-menu > li a{
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color:#106A39;
}
.primary-menu {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    /* justify-content: left; */
}
.current-item a, .primary-menu > li:hover a{
    background-color: #106A39;
    color: white !important;
}
.logo{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.slider{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.slider-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}
.golf-service{
    background-image: url(images/background-service.jpg);
    background-position: top center;
}
.golf-service-overlay{
    background-color: rgba(255, 255, 255, 0.807);
    padding-top: 60px;
    padding-bottom: 60px;
}
.golf-service-article{
    -webkit-box-shadow: 5px 5px 22px -6px rgba(0,0,0,0.75); 
    box-shadow: 5px 5px 22px -6px rgba(0,0,0,0.75);
    height: 100%;
}
.green-text{
    color:#106A39;
}
article img {
    width: 100%;
}
ul {
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
section h2{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.text-center{
    text-align: center;
}
.align-items-center{
    align-items: center;
}
.go-to-top{
    width: 40px;
    height: 40px;
    background-color:darkgreen;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.discount{
    width: 50px;
    background-color: red;
    color:white;
    padding : 5px;
    
}
.article-content{
    padding:15px;
}
.intro{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
.intro-girl{
    padding-top: 70px;
}
.intro-man{
    padding-bottom: 70px;
}
.other-services img{
    display: block;
    width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
.other-services-article{
    font-size: 12px;
    border-radius: 10px;
    padding: 30px 20px 50px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    height: 100%;
    text-align: center;
}
.other-services-article h2{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 0px;
}
