
.col-md-2{

}
.col-md-10{

}
.golf-service{
    background-image: url(images/background-service.jpg);
    background-position: top center;

}
.golf-service-overlay{
    background-color: rgba(255, 255, 255, 0.807);
    padding-top: 60px;
    padding-bottom: 60px;
}
.golf-service-article{
    width : 300px;
    -webkit-box-shadow: 5px 5px 22px -6px rgba(0,0,0,0.75); 
    box-shadow: 5px 5px 22px -6px rgba(0,0,0,0.75);
}
article img {
    width: 100%;
}
.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right:  auto;
    padding-left: 15px;
    padding-right: 15px;
}
.text-center{
    text-align: center;
}
.go-to-top{
    width: 40px;
    height: 40px;
    background-color:darkgreen;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.discount{
    width: 50px;
    background-color: red;
    color:white;
    padding : 5px;
    
}
.article-content{
    padding: 5px;
}
.article-image{

}