.golf-service{
    background-image: url(images/background-service.jpg);
    background-position: top center;

}
.golf-service-overlay{
    background-color: rgba(255, 255, 255, 0.807);
    padding-top: 60px;
    padding-bottom: 60px;
}
.golf-service-article{
    -webkit-box-shadow: 5px 5px 22px -6px rgba(0,0,0,0.75); 
    box-shadow: 5px 5px 22px -6px rgba(0,0,0,0.75);
    margin-bottom:45px;
    height: 100%;
}
.green-text{
    color:#106A39;
}
article img {
    width: 100%;
}
ul {
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
section h2{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right:  auto;
    padding-left: 15px;
    padding-right: 15px;
}
.text-center{
    text-align: center;
}
.go-to-top{
    width: 40px;
    height: 40px;
    background-color:darkgreen;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.discount{
    width: 50px;
    background-color: red;
    color:white;
    padding : 5px;
    
}
.article-content{
    padding:15px;
}
.intro{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
.intro-girl{
    padding-top: 70px;
}
.intro-man{
    padding-bottom: 70px;
}
.other-services img{
    display: block;
    width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
.other-services-article{
    font-size: 12px;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    height: 100%;
    text-align: center;
}
.col-12,
.col-md-3,
.col-md-4 {
    margin-bottom: 20px;
}