img{
    width: 20px;
    height: auto;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
}
td {
  border-right: 0.5px solid rgb(0, 0, 0);
  padding: 7px 20px;
}
tbody td:last-child, thead td:last-child {
border-right: none;
}
tbody tr:last-child{
border-bottom: 0.5px solid rgb(0,0,0);
}
thead{
    padding: 7px 20px;
    text-align: left;
    font-weight: normal;
    color:white;
    background-color: rgb(45, 177, 45);
}
tbody tr:nth-child(even){
    background-color: rgb(152, 205, 139);
}