.article1 {
    width: 200px;
    border: 1px solid blue;

}
.article1 img{
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.price{
    color:red;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-weight: normal;
    color:black;
}