.noti{
    display: none;
    position: relative;
    margin-top: 10px;
    /* height: 50px;
    padding: 10px;
    color: white; */
}
#success{
    background-color: rgb(84, 207, 84);
}
#danger{
    background-color: rgb(238, 75, 75);
}
.noti span{
    position: absolute;
    right: 10px;
    top: 35%;
}