*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background-setter{
    background-image: url(images/1536061.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 800px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
h1{
    color:white;
    font-size: 64px;
    margin-bottom: 20px;
    padding-top: 15px;
    font-weight:normal;
    text-decoration: none;
}
p{
    color: black;
    padding: 15px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.35);
}
input, textarea{
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.35);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 0px;
}
.section{
    background-color: rgba(0, 0, 0, 0.35);  
    background-size: 100%;
}
.section-width{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.text-center{
    text-align: center;
}
.container{
    border: white solid 0px;
    color:black;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.col-6{
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}
button{
    background-color: rgb(73, 73, 73);
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    padding: 7px 15px;
}
