
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(40,75,115);
    border-bottom: rgb(255,155,0) solid 4px;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(40,75,115);
}
a{
    text-decoration: none;
    color:white;
}
ul{
    list-style: none;
}
.menu > li{
    position: relative;
}
.menu li a {
    display: block;
    padding: 10px 20px;
}
.submenu li a {
    border-bottom: 1px solid white;
}
li{
    border-right: solid white 1px;
}
.submenu{
    display:none;
}
.menu{
    display: flex;
    justify-content: center;
}
li:hover, .current-item{
    display: block;
    background-color: rgb(255,155,0);
}
.menu li:hover .submenu{
    display: block;
    position: absolute;
    background-color: rgb(40,75,115);
    /* border-bottom: 1px solid white; */
}
.has-child{
    padding-right: 20px;
}
.has-child > a{
    position: relative;
}
.has-child > a::after{
    content:"\f107";   
    font-family: "fontawesome";
    position: absolute;
    right: -4px;
}
