*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
}
.music-catagories{
    padding: 5px;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    padding: 15px;
    background-color: gray;
}
.music-article{
    border: 1px black solid;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.col-40{
    width: 30%;
    /* padding-right: 15px; */
}
.col-60{
    width: 70%;
}
.btns button{
    text-align: right;
    color:white;
    padding-right: 12px;
    font-size: 14px;
}
.btns{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-top: 15px;
}
.listenbtn{
    background-image: url(images/listen.png);
    width: 70px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
}
.addbtn{
    background-image: url(images/add.png);
    width: 55px;
    background-repeat: no-repeat;
    background-position: center center;
}